/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: "neue-haas-grotesk-display", sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500; /* Display version */
}

p, a, li {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400; /* Text version */
}

/* Define italic styles for different weights */
em, i {
    font-style: italic;
}

/* Additional styles for specific elements */
h1 {
    font-size: 2.5rem;
    /* Add any other styles as needed */
}

/* Custom font */
@font-face {
    font-family: 'CustomFont';
    src: url('custom.woff2') format('woff2'), /* Modern Browsers */
         url('custom.woff') format('woff'); /* Older Browsers */
    font-weight: normal;
    font-style: normal;
}

/* CSS to style the tabbed first line of paragraph */
.tabbed-first-line {
    text-indent: 40px; /* Adjust as needed */
    margin: 0; /* Reset default margin */
}

/* Apply custom font to elements with class 'custom-font' */
.custom-font {
    font-family: 'CustomFont', sans-serif;
} 

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    /* Add responsive styles here */
}

/* Header */
.header {
    background-color: #000;
    color: #fff;
    padding: 2rem;
    overflow: hidden;
    height: 50vh; /* Set height to 70% of the viewport height */
    min-height: 560px;
}

.header-content {
    display: flex;
    height: 100%;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

.header-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.title-custom-font {
    font-family: 'CustomFont', sans-serif;
    font-size: 6rem; 
    margin: 0;
}

.name-neue-haas {
    font-family: 'neue-haas-grotesk-text', sans-serif;
    font-size: 5rem; 
    line-height: .8;
    margin: 0;
}

@media screen and (min-width: 1400px) {
    .title-custom-font {
        font-size: 8rem; 
    }  
    .name-neue-haas {
        font-size: 7rem; 
    }
}

.case-study .title-custom-font  {
    font-size: 3rem; 
}

.case-study .name-neue-haas {
    font-size: 2.7rem; 
}


.header-info {
    display: flex;
}

.header-title {
    margin-bottom:1rem;
}

.portfolio-info {
    width: 50%;
}

.portfolio-info p {
    margin: 0;
}

.portfolio-info a {
    color: #fff;
    text-decoration: none;
}

.year {
    width: 40%;
}

@media screen and (min-width: 1400px) {
    .year {
        width: 30%;
    }
}

.year p {
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
}

/* Main content */
main {
    padding: 2em;
    position: relative;
}

/* Footer */
footer {
    background-color: #000000;
    color: #fff;
    text-align: right;
    padding: 2em;
}

footer p {
    font-family: 'CustomFont', sans-serif;
    font-size: 3rem;
}

footer span {
    font-family: 'neue-haas-grotesk-display', sans-serif;

}

/* Burger menu styles */
.burger-menu {
    position: absolute;
    top: 2rem; /* Adjust as needed */
    right: 2rem; /* Adjust as needed */
    z-index: 4; /* Ensure it's above other content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
}

.line {
    width: 50px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.3s ease;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li a {
    color: #fff;
    font-size: 5rem; /* Increased font size */
    text-decoration: none; /* Removed default underline */
    text-align: left; /* Aligned left */
    display: inline-block; /* Converted to inline-block element */
    position: relative; /* Required for pseudo-elements */
    font-family: "neue-haas-grotesk-display", sans-serif;
}

.menu ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px; /* Adjust as needed */
    height: 5px; /* Height of the underline */
    background-color: #fff; /* Color of the underline */
    width: 100%; /* Width follows the width of the word */
    transition: width 0.3s ease; /* Transition for width change */
}

.menu ul li a:hover::after {
    width: 0; /* Hide underline on hover */
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 2; /* Ensure it's above the content */
    transition: opacity 0.5s, visibility 0s linear 0.5s, width 0.5s, height 0.5s;
    pointer-events: none; /* Disable pointer events when hidden */
}

.menu-open .menu-overlay {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto; /* Enable pointer events when visible */
}

.menu {
    position: fixed;
    top: 0;
    left: -100%; /* Initially off-screen */
    width: 100%; /* Adjust as needed */
    height: 100%;
    background-color: #36373b;
    z-index: 3; /* Ensure it's above the overlay */
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s, left 0.5s; /* Fade-in transition */
}

.menu-open.menu {
    left: 0; /* Move onto the screen */
    opacity: 1;
    pointer-events: auto; /* Enable click events */
}

.menu nav {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2rem;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative; /* Make the intro div a positioning context */
}

.intro-text {
    width: 50%;
}

.intro-text h2 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: 4rem;
    line-height: 1;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
}

@media screen and (min-width: 1400px) {
    .intro-text h2 {
        font-size: 6rem;
    }     
}

.intro-text .underline-custom {
    position: relative;
    text-decoration: none;
}

.custom-font {
    font-family: 'CustomFont', sans-serif;
    text-decoration: none;
}

.intro-image {
    width: 40%;
    text-align: center;
}

@media screen and (min-width: 1400px) {
    .intro-image {
        width: 30%;
    }     
}


.intro-image img {
    max-width: 100%;
    height: auto;
}

.intro-image p {
    font-family: "neue-haas-grotesk-text", sans-serif;
    text-align: left;
    font-size: .8rem;
    margin-top: 4px;
    width: 50%;
}

.body-copy {
    margin-top: 2rem;
    width: 80%;
}

@media screen and (min-width: 1400px) {
    .intro-text .body-copy {
        font-size: 2rem;
    }   
    .intro-image p {
    font-size: 1.5rem;
    }  
}

.red-circle-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.red-circle-container.arrow {
    justify-content: flex-start;
}

.red-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Adjust size as needed */
    border-radius: 50%; /* To create a circular shape */
    background-color: #ff3900; /* Red circular background */
}

@media screen and (min-width: 1400px) {
    .red-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px; /* Adjust size as needed */
        height: 100px; /* Adjust size as needed */
        border-radius: 50%; /* To create a circular shape */
    }
        
}

.red-circle img {
    width: 70%; /* Adjust as needed */
    height: auto;
    padding: .2rem;
}

.red-circle.arrow {
    display: flex;
}

.red-circle.arrow img {
    width: initial; /* Adjust as needed */
    height: initial;
    padding: 1rem;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Responsive grid with minimum width of 250px */
    grid-gap: 20px; /* Adjust the gap between grid items */
}

@media screen and (min-width: 1400px) {
    .portfolio-grid {
        grid-template-columns: repeat(auto-fill, minmax(900px, 1fr)); /* Adjust the columns for larger screens */
    }
}


.portfolio-entry img {
    max-width: 100%;
    height: auto;
}

.portfolio-entry h3 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: 4rem;
    line-height: 1;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.portfolio-entry h4 {
    font-family: 'CustomFont', sans-serif;
    font-size: 4rem;
}


.portfolio-entry a:hover {
    background-color: #0056b3;
}

/* Remove existing ticker tape styles */
/* You can keep this section if you're using ticker tape styles elsewhere */
.ticker-tape {
    overflow: hidden;
}

.ticker-text {
    white-space: nowrap;
    overflow: hidden; /* Hide overflow content */
    font-size: 5rem;
    font-family: 'CustomFont', sans-serif;
    margin-left: -100%; /* Initial position off-screen */
    animation: ticker 80s linear infinite; /* Adjust duration as needed */
}

@media screen and (min-width: 1400px) {
    .ticker-text {
        font-size: 9rem;
    }
    
}


@keyframes ticker {
    0% {
        margin-left: -100%; /* Start off-screen */
    }
    100% {
        margin-left: 0; /* Move on-screen */
    }
}
